<div id="header">
    <div id="App-header">
        <div class="Header-menudiv">
        <ul>
            <li class="homeli">
            <a href="/" className="App-logo"><img src="../img/selab_logo_S.png" alt="logo" width="98.23px" height="35px" ></img></a>
            </li>
            <li class="menuli">
            <a href="/login">Login</a>
            </li>
            <li class="menuli">
            <a href="/courses">Courses</a>
            </li>
            <li class="menuli">
            <a href="/selab">About SELab</a>
            </li>
        </ul>
        </div>
    </div>
</div>
