<!doctype html>
<html lang="en">
<head>
  <% include ./head.ejs%>
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.4.1/dist/sweetalert2.all.min.js"></script>
  
  <script src="js/goGame.js" type="text/javascript"></script>
</head>

<body>
  <% include ./header.ejs%>
  <div id="container">
    <div id="mainbg">
        <div class="Contents-page1">
            <div class="page1-title">
                <h1>lab(<span class="text-orange">se</span>);</h1>
                <h2>Software Engineering Lab<br/>@HYU ERICA, CSE Dept.</h2>
                <h3>led by asst. prof. Scott Lee<br/>Where Great Software Engineers are made</h3>
                <div class="page1-q">
                  <p>Which information do you need?</p>
                  <div class="page1-q-div">
                    <a href="/selab"><button class="page1-q-div-bt" id="bt-goselab" >About SELab</button></a>
                    <a href="/courses"><button class="page1-q-div-bt" id="bt-gocourse" >About Courses</button></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>

