<!doctype html>
<html lang="en">
<head>
  <% include ./head.ejs%>
  <link rel="stylesheet" type="text/css" href="/css/selab.css" />
</head>

<body>
  <% include ./header.ejs%>
  <div id="mainbg">
        <div class="Contents-page2">
            <div class="Lab-list">
                <ol>
                    <li>
                    <a href="/About/Selab/">
                            <img src="img/member.svg" class="Lab-list-icon" alt="member icon"></img>
                            Members
                    </Link>
                    </li>
                    <li>
                    <a href="/About/Selab/Research">
                            <img src="img/research.svg" class="Lab-list-icon"  alt="research icon"></img>
                            Research
                    </a>
                    </li>
                    <li>
                    <a href="/About/Selab/Publications">
                            <img src="img/publication.svg" class="Lab-list-icon" alt="publication icon"></img>
                            Publications
                    </a>
                    </li>
                    <li>
                    <a href="/About/Selab/Contact">
                            <img src="img/contact.svg" class="Lab-list-icon" alt="contact icon"></img>
                            Contact
                    </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>