<head>
		<link rel="stylesheet" type="text/css" href="../css/selab.css" />
</head>
<body>
	<div id="mainbg">
		<div class="Contents-page2">
			<div className="Lab-list">
				<ol>
					<li>
					<a href="/About/Selab/">
							<img src={ Membericon } className="Lab-list-icon" alt="member icon"></img>
							Members
					</Link>
					</li>
					<li>
					<a href="/About/Selab/Research">
							<img src={ Researchicon } className="Lab-list-icon"  alt="research icon"></img>
							Research
					</a>
					</li>
					<li>
					<a href="/About/Selab/Publications">
							<img src={ Publicationicon } className="Lab-list-icon" alt="publication icon"></img>
							Publications
					</a>
					</li>
					<li>
					<a href="/About/Selab/Contact">
							<img src={ Contacticon } className="Lab-list-icon" alt="contact icon"></img>
							Contact
					</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
</body>


