/* 테스트용 */
html {
    overflow: hidden;
}
.slide {
    visibility: hidden;
    height: 100vh;
}

.slide:first-child {
    visibility: visible;
}

.slide h1 {
    background-color: rgb(224,224,224);
}

.layout {
    position: fixed;
    bottom: 0;
}