@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.App-container {
  min-width: 100vh;
}

.App-mainbg {
  min-height: 90vh;
  min-width: 80vw;
  padding-top: 10vh;
}

$timing: 700ms;

.trans {
  width: 100vw;
  margin: 0 auto;
  transition: $timing;
  transition-timing-function: ease;

  &.enter {
    z-index: 10;
    opacity: 0;

    &.active,
    &.done {
        opacity: 1;
    }
  }

  &.exit {
    z-index: 9;

    &.active,
    &.done {
      opacity: 0;
    }
  }

  &.active {
    position: relative;
  }

  &.done {
    position: relative !important;
    transform: none !important;
  }
}

a {
  color: inherit;
}