.Contents-page2 { 
    height: 80vh;
    padding-top: 6vh;
    width: 80vw !important;
    margin: 0 auto;
    animation-name: side-fade-enter;
    animation-duration: 0.7s;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    display: flex;
  }

@keyframes side-fade-enter {
    from {
        padding-left: 30px;
        opacity: 0;
    }
    to {
        padding-left: 0;
        opacity: 1;
    }
}

.Lab-list {
    width: 20vw;
    float: left;
}

.Lab-list ol {
    list-style-type: none;
}

.Lab-list ol li {
    margin: 2vh 0;
}

.Lab-list ol li a {
    font-size: 2.3vh;
    display: flex;
    align-items: center;
}

.Lab-list ol li a:hover {
    font-size: 2.6vh;
    animation-name: lab-list-hover;
    animation-duration: 0.4s;
    animation-direction: alternate;
}

@keyframes lab-list-hover {
    from {
        font-size: 2.3vh;
    }

    to {
        font-size: 2.6vh;
    }
}

.Lab-contents {
    width: 60vw;
    height: 80vh;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.Lab-list-icon {
    width: 3vh;
    border: 1px solid #FFF;
    border-radius: 100%;
    padding: 4px;
    margin-right: 10px;
    fill: #FFF;
}

$timing: 700ms;

.trans-s {
  width: 60vw;
  margin: 0 auto;
  transition: $timing;
  transition-timing-function: ease;

  &.enter {
    z-index: 10;
    opacity: 0;

    &.active,
    &.done {
        opacity: 1;
    }
  }

  &.exit {
    z-index: 9;

    &.active,
    &.done {
      opacity: 0;
    }
  }

  &.active {
    position: relative;
  }

  &.done {
    position: relative !important;
    transform: none !important;
  }
}

