h1 {
    margin-top: 4vh;
    font-size: 3vh;
}

.notification-div {
    width: 80vh;
    height: 10vh;
    margin: 0 auto;
    padding: 30px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}

#notification-message {
    width: 60vh;
    height: 8vh;
    float: left;
}

#notification-send {
    width: 15vh;
    height: 8vh;
    float: right;
}