.Lab-list {
    float: left;
    width: 100px;
    margin-top: 3vh;
    height: auto;
}

.Lab-list ul {
    padding-inline-start: 0;
    list-style: none;
}

.Lab-list ul li {
    margin: 15px 0;
}

.Lab-List-a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    margin-bottom: 3px;
}

.Lab-List-a:hover {
    animation-name: listhover;
    animation-duration: 300ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes listhover {
    to {
        color: #fff;
        border-bottom: 2px solid #FFF;
    }
}

.Lab-List-a-hover {
    color: #fff;
    font-weight: bold;
    margin-bottom: 3px;
    border-bottom: 2px solid #FFF;
    cursor: pointer;
}

.Lab-contents {
    float: right;
    width: auto;
    margin-top: 3vh;
}

#Lab-Member {
    display: block;
}

#Lab-Research {
    display: none;
}

#Lab-Publications {
    display: none;
}

#Lab-Contact {
    display: non;
}