
.Lab-list {
    min-width: 25vw;
    padding-right: 30px;
    float: left;
}

.Lab-list ol {
    list-style-type: none;
}

.Lab-list ol li {
    margin: 2vh 0;
}

.Lab-list ol li a {
    font-size: 2.3vh;
    display: flex;
    align-items: center;
}

.Lab-list ol li a:hover {
    font-size: 2.6vh;
    animation-name: lab-list-hover;
    animation-duration: 0.4s;
    animation-direction: alternate;
}

@keyframes lab-list-hover {
    from {
        font-size: 2.3vh;
    }

    to {
        font-size: 2.6vh;
    }
}

.Lab-contents {
    width: 60vw;
    height: 80vh;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.Lab-list-icon {
    width: 3vh;
    border: 1px solid #FFF;
    border-radius: 100%;
    padding: 4px;
    margin-right: 10px;
    fill: #FFF;
}