<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    <button id="sign-in">로그인</button>


    <script src="/__/firebase/7.4.0/firebase-app.js"></script>
    <script src="/__/firebase/7.4.0/firebase-auth.js"></script>
    <script src="/__/firebase/7.4.0/firebase-database.js"></script>
    <script src="/__/firebase/7.4.0/firebase-messaging.js"></script>
    <script src="/__/firebase/7.4.0/firebase-storage.js"></script>
    <script src="/__/firebase/init.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>