<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simply Notify</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <main>
        <header>
          <h1>알림 콘솔</h1>
        </header>
        <form id="send-notification-form">
          <textarea id="notification-message" maxlength="100">알림 보내기</textarea>
          <button type="submit" aria-label="Send">보내기</button>
        </form>
      </main>
    </div>

    <div id="answer"></div>

    <script src="/__/firebase/7.4.0/firebase-app.js"></script>
    <script src="/__/firebase/7.4.0/firebase-auth.js"></script>
    <script src="/__/firebase/7.4.0/firebase-database.js"></script>
    <script src="/__/firebase/7.4.0/firebase-messaging.js"></script>
    <script src="/__/firebase/7.4.0/firebase-storage.js"></script>
    <script src="/__/firebase/init.js"></script>
    <script src="/js/notification.js"></script>
  </body>
</html>
