.App-logo {
  margin-left: 15%;
  height: 35px;
}

.App-container {
  min-width: 100vh;
}

.Carousel {
  height: 60vh;
  padding-top: 10vh;
  background-image: radial-gradient( circle farthest-corner at 84.6% 77.8%,  rgba(86,89,218,1) 0%, rgba(0,171,217,1) 90% );
}

.Carousel-contents {
  height: 30vh;
}