@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

.App-logo {
  margin-left: 15%;
  height: 35px;
}

.App-container {
  min-width: 100vh;
}

.App-mainbg {
  min-height: 90vh;
  min-width: 100vh;
  padding-top: 10vh;
}

.Contents-page1 {
  min-height: 90vh;
  font-family: 'Exo 2';
  color: white;
  background-image: url('./img/m_31.svg');
  background-repeat: no-repeat;
  background-size: cover;
  animation-duration: 1.5s;
  animation-name: bgani;
  animation-fill-mode: forwards;
}

@keyframes bgani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page1-title {
  padding: 5vh 0 0 10vh;
}

.page1-title h1 {
  font-size: 7em;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 32vh;
  left: 45vh;
  animation-duration: 1s;
  animation-name: titleh1;
  animation-fill-mode: forwards;
}

@keyframes titleh1 {
  from { 
  opacity: 0;
  position: absolute;
  top: 31vh;
  left: 43vh;
  }

  to {
    opacity: 1;
    position: absolute;
    top: 32vh;
    left: 45vh;
  }
}

.page1-title h2 {
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 45vh;
  left: 45vh;
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: titleh2;
  animation-fill-mode: forwards;
}

@keyframes titleh2 {
  from { 
  opacity: 0;
  position: absolute;
  top: 44vh;
  left: 43vh;
  }

  to {
    opacity: 1;
    position: absolute;
    top: 45vh;
    left: 45vh;
  }
}

.page1-title h3 {
  text-align: center;
  font-size: 1.4em;
  position: absolute;
  top: 60vh;
  left: 42vh;
  opacity: 0;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: titleh3;
  animation-fill-mode: forwards;
}

@keyframes titleh3 {
  from { 
  opacity: 0;
  position: absolute;
  top: 59vh;
  left: 40vh;
  }

  to {
    opacity: 1;
    position: absolute;
    top: 60vh;
    left: 42vh;
  }
}




.text-orange {
  color: #eb731e;
}



/* .Carousel {
  height: 60vh;
  padding-top: 10vh;
  background-image: radial-gradient( circle farthest-corner at 84.6% 77.8%,  rgba(86,89,218,1) 0%, rgba(0,171,217,1) 90% );
}

.Carousel-contents {
  height: 30vh;
} */