@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

.App-logo {
  margin-left: 15%;
}

.App-logo img {
  height: 35px;
}

.App-container {
  min-width: 100vh;
}

.App-mainbg {
  min-height: 90vh;
  min-width: 100vw;
  padding-top: 10vh;
}

.Contents-page1 {
  height: 80vh;
  font-family: 'Exo 2';
  color: white;
  background-image: url('./img/m_31.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 110vh;
  animation-duration: 1.5s;
  animation-name: bgani;
  animation-fill-mode: forwards;
}

@keyframes bgani {
  from {
    opacity: 0;
    padding-left: 20px;
    padding-bottom: 20px; 
  }
  to {
    opacity: 1;
    padding-left: 0px;
    padding-bottom: 0px; 
  }
}

.page1-title {
  height: 70vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page1-title h1 {
  text-align: center;
  font-size: 12vh;
  margin: 0;
  opacity: 0;
  animation-duration: 0.5s;
  animation-name: titleh1;
  animation-fill-mode: forwards;
}

@keyframes titleh1 {
  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page1-title h2 {
  text-align: center;
  font-size: 3vh;
  margin: 2.5vh 0 0 0;
  opacity: 0;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-name: titleh2;
  animation-fill-mode: forwards;
}

@keyframes titleh2 {
  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page1-title h3 {
  text-align: center;
  font-size: 2.2vh;
  margin: 0.9vh 0 0 0;
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-name: titleh3;
  animation-fill-mode: forwards;
}

@keyframes titleh3 {
  from { 
  opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text-orange {
  color: #eb731e;
}

.page1-title p {
  margin: 6vh auto 0 auto;
  text-align: center;
  font-size: 3vh;
}

.page1-q-div {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}

.page1-q-div-bt {
  margin: 0 2vh;
  border: 2px solid #FFFFFF;
  border-radius: 5vh;
  width: 16vh;
  height: 5vh;
  background-color: #FFFFFF;
  font-size: 1.6vh;
  font-family: "Ubuntu";
  color: rgb(0,171,217);
}

.page1-q-div-bt:hover {
  animation-duration: 0.3s;
  animation-name: button;
  animation-fill-mode: forwards;
}

@keyframes button {
  to {
    background-color: rgba(255,255,255,0);
    color: #FFF;
  }
}

.page1-q-div-bt:active {
  outline: none;
}

.Contents-page2 {
  height: 80vh;
  padding-top: 10vh;
  display: none;
}


/* .Carousel {
  height: 60vh;
  padding-top: 10vh;
  background-image: radial-gradient( circle farthest-corner at 84.6% 77.8%,  rgba(86,89,218,1) 0%, rgba(0,171,217,1) 90% );
}

.Carousel-contents {
  height: 30vh;
} */