/* 네브바 css */

.App-header {
    width: 100vw;
    height: 90px;
    z-index: 1;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
  }
  
  .Header-menudiv {
    float: left;
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
  }
  
  .Header-menudiv ul {
    list-style: none;
  }
  
  .Header-menudiv li {
    font-weight: bold;
    display: inline;
    border: 0;
    margin-right: 20px;
  }

  .Header-menudiv li a {
    color: white;
  }

  .Header-menudiv li:hover {
    animation-duration: 0.5s;
    animation-name: menulihover;
    animation-fill-mode: forwards;
  }

  @keyframes menulihover {
      from {
          padding-bottom: 0px;
          border: none;
      }

      to {
          padding-bottom: 10px;
          border-bottom: 3px solid #000;
      }
  }

  .Header-menudiv a:hover {
    animation-duration: 0.5s;
    animation-name: menuahover;
    animation-fill-mode: forwards;
  }

  @keyframes menuahover {
      from {
          color: white;
      }

      to  {
          color: #000;
      }
  }
