/*
.Problem {
    margin: auto;
    margin-top: 25%;
    width: 50%;
    height: 50%;
}

.Problem #linkinp {
    border:none 2px rgb(0.98.204);
    border-radius: 5px;
    background: rgb(0,105,217);
    color: white;
    padding: 10px;
}

.Problem #linkinp:hover {
    text-decoration: none;
    background: rgb(0,98,204);
}
*/