.System #linkinSys {
    border:none 2px rgb(0.98.204);
    border-radius: 5px;
    background: rgb(0,105,217);
    color: white;
    padding: 10px;
}

.System #linkinSys:hover {
    text-decoration: none;
    background: rgb(0,98,204);
}

.System .linkinSys {
    margin-top: 15px;
    margin-bottom: 15px;
}