<head>
<link rel="stylesheet" type="text/css" href="./../css/course.css" />

</head>
<body>
    <div class="Contents-page2">
        <div class="Timetable-part">
            <h1>Undergraduate Courses</h1>
            <hr class="Class-hr"></hr>
            <a onclick="gopage('course/cse326.html')">
            <div class="Class-div">
                <img class="Class-thumbnail" src="./../img/WAD.jpg"></img>
                <div class="Class-info">
                    <p class="Class-sem">2019-2</p>
                    <p class="Class-code">CSE326</p>
                    <p class="Class-title">Web Application Development</p>
                </div>
            </div>
            </a>
            <div class="Class-div">
                <img class="Class-thumbnail" src="./../img/WAD.jpg"></img>
                <div class="Class-info">
                    <p class="Class-sem">2019-2</p>
                    <p class="Class-code">CSE326</p>
                    <p class="Class-title">Web Application Development</p>
                </div>
            </div>
        </div>
        <div class="Timetable-part">
            <h1>Undergraduate Courses</h1>
            <hr class="Class-hr"></hr>
            <div class="Class-div">
                <img class="Class-thumbnail" src="./../img/WAD.jpg"></img>
                <div class="Class-info">
                    <p class="Class-sem">2019-2</p>
                    <p class="Class-code">CSE326</p>
                    <p class="Class-title">Web Application Development</p>
                </div>
            </div>
        </div>
    </div>
</body>